/* Giving margin to the whole thing */
.App {
    margin-left: 10px;
    margin-right: 10px;
}


/* Sizing the Images */
.item {
    height: 25rem;
    width: 28rem;
    padding: 20px;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}


.inner-carousel {
    display: flex;
    /* background-color: lightblue; */

}

.carousel {
    cursor: grab;
    overflow: hidden;
    /* background-color: rgb(235, 99, 99); */
}


/* Responsive */
/* @media only screen and (max-width: 576px) {
    .carousel {
        cursor: auto !important;
    }
} */